@import '../../styles/styles.scss';

.NewTokenForm {
    overflow: auto;

    .CardContent {

        .CardHeader {
            /* Create your own tokens with one click! 4 Tokens Created */
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 124%;
            /* or 50px */
            text-align: center;
            color: #FFFFFF;

            text-shadow: 0px 0px 30px rgba(250, 214, 75, 0.21);

            .YellowBox {

                @media only screen and (min-width: 10px) {
                    width: 52px;
                    height: 52px;
                    margin-top: 26px;
                }

                @media only screen and (min-width: 375px) {
                    width: 52px;
                    height: 52px;
                    margin-top: 26px;
                }

                @media only screen and (min-width: 600px) {
                    width: 56px;
                    height: 56x;
                    margin-top: 24px;
                }

                @media only screen and (min-width: 768px) {
                    width: 60px;
                    height: 60px;
                    margin-top: 22px;
                }

                @media only screen and (min-width: 1024px) {
                    width: 64px;
                    height: 64px;
                    margin-top: 20px;
                }

                /* Rectangle 170 */
                background: linear-gradient(180deg, #E5E5E6 0%, #AEBCCD 28.62%, #FAD64B 100%);
                border-radius: 5px;
                transform: rotate(-180deg);
                display: inline-block;
            }

            .NumberBox {
                /* Rectangle 313 */
                line-height: 1.4;
                display: flex;
                background: rgb(41, 37, 21);
                border: 1px solid #FFFFFF;
                backdrop-filter: blur(50px);
                /* Note: backdrop-filter has minimal browser support */
                border-radius: 5px;
                color: $yellow-color;

                @media only screen and (min-width: 10px) {
                    height: 42px;
                    font-size: 28px;
                    padding-left: 12px;
                    padding-right: 12px;
                    margin-left: -38px;
                }

                @media only screen and (min-width: 375px) {
                    height: 42px;
                    font-size: 28px;
                    padding-left: 14px;
                    padding-right: 14px;
                    margin-left: -36px;
                }

                @media only screen and (min-width: 600px) {
                    height: 46px;
                    font-size: 32px;
                    padding-left: 16px;
                    padding-right: 16px;
                    margin-left: -34px;
                }

                @media only screen and (min-width: 768px) {
                    height: 50px;
                    font-size: 36px;
                    padding-left: 18px;
                    padding-right: 18px;
                    margin-left: -32px;
                }

                @media only screen and (min-width: 1024px) {
                    height: 54px;
                    font-size: 44px;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-left: -30px;
                }

                // padding-bottom: 6px;

            }

            .TitleText {
                @media only screen and (min-width: 10px) {
                    font-size: 28px;
                }

                @media only screen and (min-width: 375px) {
                    font-size: 28px;
                }

                @media only screen and (min-width: 600px) {
                    font-size: 32px;
                }

                @media only screen and (min-width: 768px) {
                    font-size: 36px;
                }

                @media only screen and (min-width: 1024px) {
                    font-size: 40px;
                }
            }

            .FollowingPhase {
                @media only screen and (min-width: 10px) {
                    font-size: 28px;
                }

                @media only screen and (min-width: 375px) {
                    font-size: 28px;
                }

                @media only screen and (min-width: 600px) {
                    font-size: 32px;
                }

                @media only screen and (min-width: 768px) {
                    font-size: 36px;
                }

                @media only screen and (min-width: 1024px) {
                    font-size: 40px;
                }

                margin-left: 10px;
                line-height: 1.4;
                display: flex;
                align-items: center;
            }
        }

        #description {
            min-height: 0px;

        }

        .InitialBalancesHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .InitialDistuributionText {
            @media only screen and (min-width: 10px) {
                font-size: 18px;
            }

            @media only screen and (min-width: 375px) {
                font-size: 18px;
            }

            @media only screen and (min-width: 600px) {
                font-size: 20px;
            }

            @media only screen and (min-width: 768px) {
                font-size: 22px;
            }

            @media only screen and (min-width: 1024px) {
                font-size: 24px;
            }

            font-weight: 'bold';

        }

        .InitialBalance {
            padding: 0;
            margin-bottom: 1em;

            .InitialBalanceRemoveItem {
                display: flex;
                align-items: flex-end;

                button {
                    color: $yellow-color;
                    background-color: transparent;
                }
            }
        }
    }
}